<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Technology and Activism</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/map">The Map Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/journal">Journal Entries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About the Developer</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
  </nav>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

<div class="jumbotron">
  <h1 class="display-3">Let's talk about tech, baby</h1>
  <p class="lead">    Welcome to my Technology and Activism special studies!
</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>



</body>

</html>
