<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <header>
    <% include ../helpers/navbar %>
  </header>
  <% include ../helpers/journal_sidebar %>
  <div class="page-header">
    <h1> </h1>
  </div>
  <h2>The Benefits of OpenSource</h2>

  <p>My success in computer science is largely credited to the many programmers who are willing to share their knowledge on public platforms. At the early level, many programmers face similar challenges, including syntax errors and confusion about simple algorithms, and websites like Stack Overflow provide a forum where they can ask questions to be answered by other users on the site. I personally have never submitted my own question onto the forum, but at least ninety percent of the times where I’ve googled an error, the first result to appear is a Stack Overflow post, and those have helped me a lot. Even if my question isn’t identical to that of the previous poster (which usually it isn’t), by viewing how a problem similar in nature is solved, I can often extract the knowledge needed and apply it to my own code. Jeremy Bogs provides a great presentation on the concept of software being like containers of information with libraries and frameworks, and how accessibility to past projects can be an extraordinary tool for others seeking information for their pursuits. </p>

	<p>As an amateur programmer, one of the easiest ways for me to learn and understand a new programming language is to run given code and see the results. For this reason, many coding tutorial sites like CodeAcademy format their courses with snippets of code for the student to observe, run, edit, and ultimately write on their own. This method of learning is requires minimal understanding of computer science, hence why it is probably probably the most common among new programmers. For this reason, I strongly advocate for platforms like GitHub which encourage open source software and makes code/projects written by other programmers easily accessible. Bogs mentions in his presentation how projects alone are like carrier bags of ideas and ambition, and even when projects don’t succeed, what remains can inspire new ideas in the future. Because viewing another person’s tech project encourages the reading and understanding of unfamiliar code, and when permitted provides a foundation for new development, I feel that open-source software and code is the leading pioneer in making programming more accessible to beginners, and therefore serves as a useful resource to activists who may want to include technologies in their movements. While platforms like Foursquare and Wix exist to help people without technical backgrounds create websites, when the time to dedicate is available, learning to create sites from scratch provides more control over the project without the exchange for price. Open source also serves as a powerful combat to the capitalistic attempts to limit freelance developers, as stated in Harry Cleaver’s “The Zapatistas and the Electronic Fabric of Struggle”.</p>

  <p><small>Link to open source talk: </small></p>
</body>
</html>
