<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <header>
    <% include ../helpers/navbar %>
  </header>
  <% include ../helpers/journal_sidebar %>
  <div class="page-header">
    <h1> </h1>
  </div>
  <h2>The Benefits of OpenSource</h2>

<p> The computer science environment at Smith provides something unique, which is the fact that most of us are women, and we are learning in classrooms filled with majority women, and nearly all of our TAs are women. The department has its own room for improvement, however an advantage I’ve observed is how Smithies use our technical skills and liberal arts curriculum to answer questions that a homogenous team of males may fail to address. I feel that a large part of the reason why we are able to balance sociological and technological methodologies is because we are allowed and even encouraged to do so. For example, towards the end of March the Five Colleges held the annual DataFest competition, where a dataset is revealed and the teams have two days to analyze and share the findings. This year’s data was donated by the women’s Canadian Rugby 7’s team, and Smith teams won 7 out of the 9 available prizes. The team who won the grand prize presented their findings on the comparison between each player’s reported fatigue and their actual game performance, and then used the findings to argue that it’s important to trust a player’s judgement on her own wellbeing. When handing out the prizes, the judges specified what they liked about the winner’s presentation, and words that always came up included “insightful”, “interesting”, and “detailed”. Another group (from Mount Holyoke) won a prize for breaking down the playing time for a specific player on the team against their mood for each game, and the graph they created wasn’t fancy (everyone was limited on time) but the judges felt that the information presented was interesting. The reason Smithies and Moho students do so well at Datafest is because in order to win, the judges are less impressed by the intricacies and complexity of models performed on the data, and more interested in the story each has to tell with the information given. The Smith professors who help organize the event even tell us this in advanced. So as Smith students we are given the advantage of having these technical skills but also knowing how to utilize them in context of a larger picture, and I feel that our success verifies that having a balanced tradeoff between the humanities and tech results in better performance.</p>

</body>
</html>
