<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <header>
    <% include ../helpers/navbar %>
  </header>
  <% include ../helpers/journal_sidebar %>




  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1> </h1>
  </div>
  <h2>The Technological/Humanitarian Tradeoff</h2>
  <p> In my machine learning class we learned about the bias vs. variance tradeoff when implementing a predictive model. Basically, when designing a model, you have to consider whether you want to it fit your training data really well (bias), or if you want your model to potentially predict for a wide range of possible input values. The image below provides an example, where the model on the left has high variance and the model on the right has high bias. Both hurt the effectiveness of the model.</p>
  <img src= "https://i.stack.imgur.com/8RlJk.png">
  <p>In her article, Colleen Carrigan describes what she calls “the false binary between social and technical dimensions of computers.” In tech I’ve observed and experienced what I’d consider to be a tradeoff between humanism and technical pursuance, where emphasizing one insinuates you’re willing to compromise the other. The difference between this tradeoff and the bias vs. variance tradeoff however, is that enthusiasts on both sides will often be in favor of tipping the scale. I attend Smith College, a small women’s liberal arts college, yet I enjoy taking class at UMass, a large coed research University. I am always interacting with a diverse set of people who carry different perspectives on the topic of technical research, yet I observed a pattern among three distinct groups of people: the humanity majors of Smith, my fellow computer science Smithies, and the UMass “brogrammers”.
	To clarify, I have friends within all of these groups, and while I may not always agree with them, I respect them and the passion they have for what they study. I also am not trying to generalize, there are many members of each groups who are well-rounded in their interests and perspective. This is all based on my personal encounters and experiences, and as someone who finds themselves in the middle. However, it’s important to discuss how in the same way that too much bias or too much variance can throw off a model, disregarding one discipline to further emphasize the importance and superiority of the other also results in an unproductive imbalance.</p>

  <p> I start with the fellow Smithies who focus on the liberal arts and humanities. Growing up, my strengths had always fallen under my humanity courses, and though I was good at and really enjoyed English and foreign language, my analytic skills allowed me to make decent grades in math and science. I always felt that my courses that included subjective thinking and discussion were a fun outlet for creative expression, but the nature of the topics also often led to emotional responses that create bias. Because of this, I’m not surprised that some of my peers in the humanities hold very strong opinions that are grounded by their emotional connection to the subject matter, despite their inability (or sometimes just unwillingness) to discuss them pragmatically. I often think of an instance regarding a friend of mine who is an advocate for educational reform. She continuously claims that the only effective solution is revolution -in other words, the only way to fix the system is to completely scrap the one we currently have. I admire her passion and ambition, and as someone who also believes in education reform, I ask how this can be properly implemented without further harming members of the system who are at a disadvantage. It’s a tough question to ask, and I would never expect her as an individual to have all the answers, but the conversation usually ends with “I don’t know” and annoyance at my questions. Another example is a time when a group of friends and I were discussing class at Smith. Having recently learned about [insert Dollar Street] in my machine learning class, I said that in a global context, we were all “rich”, to which one friend who’s a sociology major immediately rebuts that I can’t say such a thing. And when I mentioned what I learned in class and how quantitatively and objectively speaking, we all had at least some privilege, I was brushed off. </p>








</body>

</html>
