<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <header>
    <% include ../helpers/navbar %>
  </header>
  <% include ../helpers/journal_sidebar %>
  <div class="page-header">
    <h1> </h1>
  </div>
  <h2>The Benefits of OpenSource</h2>

<p>  On the flip side, the friendships and partnerships I’ve created at UMass exposed me to the other extreme of the trade off, where the scale is heavily tipped in favor of technological/developmental priorities. This means that my colleagues are really good at the technical aspect of the work they do, especially because they attend a top 20 school for computer science, however they disregard the humanitarian and social impact of their work. I believe that part of it stems from arrogance and the hierarchy Carrigan mentions in her perspective, but another component is the lack of diversity in the UMass computer science department. There are few non-cis males in the department, and even fewer under represented minorities, so these viewpoints aren’t added to the mix of the university's CS culture. The harm done here, is that it’s not sufficient for a product to simply <i>work</i>. A project gains most purpose when its impact benevolently reaches outside the screen and deeper than the surface. Product design applies to the big picture, yet many programmers look down on the people who focus their careers to helping a company navigate its presence in a society that is becoming more reliant on technology. This work is deemed as not requiring the intelligence perhaps needed to program the devices and platforms we use, which I find to be laughably hypocritical. Many programming jobs entail simply writing code by following a provided set of tasks, not requiring a deep understanding of why the project must be implemented a certain way. How can you truly understand the product your creating if you don’t have an idea of how its use will manifest when its actual made available to users? How does only working in the social aspect of a product show any less competency than being a code monkey?</p>

</body>
</html>
