<div class="btn-group-vertical" data-toggle="buttons">
  <button type="button" class="btn btn-primary">Zapatistas</button>
  <button type="button" class="btn btn-primary">The Technical/Ethical Trade-Off</button>
</div>
