<div class="btn-group-vertical" data-toggle="buttons" position="left">
  <button type="button" class="btn btn-primary">Zapatistas</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='/tradeoff'">The Technical/Humanities Trade-Off</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='/opensource'">The Benefits of OpenSource</button>
</div>
