<div class="btn-group-vertical" data-toggle="buttons" position="left">
  <button type="button" class="btn btn-primary">Zapatistas</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='/tradeoff'">The Technical/Humanities Trade-Off: A Look Non-Technical Perspectives</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='/tradeoff-brogrammers'">The Technical/Humanities Trade-Of: Brogrammers</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='/tradeoff-smith'">The Technical/Humanities Trade-Of: A Look Into the Smith Compsci Department</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='/opensource'">The Benefits of OpenSource</button>
</div>
